<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="Functional Test Assignment 12">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
<!--            <class name="testscripts12.LoginPageTest"/>-->
<!--            <class name="testscripts12.HomePage_test"/>-->
        </classes>
    </test>
</suite>